{% extends 'layouts/base.html' %}
{% block main %}


<div class="container mt-4">
    <h1 class="text-center">About GeekMe</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Our Mission</h2>
            <p>At GeekMe, our mission is to provide insightful and engaging content for tech enthusiasts around the world. We aim to create a community where people can share their knowledge, learn from others, and stay updated with the latest trends in technology.</p>
        </div>
        <div class="col-md-6">
            <h2>Our Team</h2>
            <p>Our team is composed of passionate writers, developers, and designers who are dedicated to delivering high-quality content. We believe in the power of collaboration and strive to bring diverse perspectives to our readers.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h2>Contact Us</h2>
            <p>If you have any questions, suggestions, or just want to say hello, feel free to <a href="{% url 'contact' %}">contact us</a>. We would love to hear from you!</p>
        </div>
    </div>
</div>
{% endblock %}