# Ignore __pycache__ directories
__pycache__
*/__pycache__
*/*/__pycache__

# Ignore compiled Python files
*.pyc

# Ignore specific migrations, but keep __init__.py
blog/migrations/*
!blog/migrations/__init__.py
account/migrations/*
!account/migrations/__init__.py

# Ignore specific files in blog_app
blog_app/__pycache__/*
blog_app/*.pyc

# Ignore .gitignore file itself (optional)
# .gitignore

# Ignore all files in static/js directory
static/js/*

# Ignore all files in static/css directory except style.css
static/css/*
!static/css/style.css

# Keep the following lines if you still need them
assets/js
assets/css/bootstrap-grid.css
assets/css/bootstrap-grid.css.map
assets/css/bootstrap-grid.min.css
assets/css/bootstrap-grid.min.css.map
assets/css/bootstrap-grid.rtl.css
assets/css/bootstrap-grid.rtl.css.map
assets/css/bootstrap-grid.rtl.min.css
assets/css/bootstrap-grid.rtl.min.css.map
assets/css/bootstrap-reboot.css
assets/css/bootstrap-reboot.css.map
assets/css/bootstrap-reboot.min.css
assets/css/bootstrap-reboot.min.css.map
assets/css/bootstrap-reboot.rtl.css
assets/css/bootstrap-reboot.rtl.css.map
assets/css/bootstrap-reboot.rtl.min.css
assets/css/bootstrap-utilities.css
assets/css/bootstrap-reboot.rtl.min.css.map
assets/css/bootstrap-utilities.css.map
assets/css/bootstrap-utilities.min.css
assets/css/bootstrap-utilities.rtl.css
assets/css/bootstrap-utilities.min.css.map
assets/css/bootstrap-utilities.rtl.css.map
assets/css/bootstrap-utilities.rtl.min.css
assets/css/bootstrap-utilities.rtl.min.css.map



account/__pycache__/__init__.cpython-310.pyc
account/__pycache__/__init__.cpython-311.pyc
account/__pycache__/__init__.cpython-312.pyc
account/__pycache__/admin.cpython-310.pyc
account/__pycache__/admin.cpython-311.pyc
account/__pycache__/admin.cpython-312.pyc
account/__pycache__/apps.cpython-310.pyc
account/__pycache__/apps.cpython-311.pyc
account/__pycache__/apps.cpython-312.pyc
account/__pycache__/models.cpython-310.pyc
account/__pycache__/models.cpython-311.pyc
account/__pycache__/models.cpython-312.pyc
account/__pycache__/urls.cpython-310.pyc
account/__pycache__/urls.cpython-311.pyc
account/__pycache__/urls.cpython-312.pyc
account/__pycache__/views.cpython-310.pyc
account/__pycache__/views.cpython-311.pyc
account/__pycache__/views.cpython-312.pyc
account/migrations/__pycache__/__init__.cpython-310.pyc
account/migrations/__pycache__/__init__.cpython-311.pyc
account/migrations/__pycache__/__init__.cpython-312.pyc

blog/__pycache__/__init__.cpython-310.pyc
blog/__pycache__/__init__.cpython-311.pyc
blog/__pycache__/__init__.cpython-312.pyc
blog/__pycache__/admin.cpython-310.pyc
blog/__pycache__/admin.cpython-311.pyc
blog/__pycache__/admin.cpython-312.pyc
blog/__pycache__/apps.cpython-310.pyc
blog/__pycache__/apps.cpython-311.pyc
blog/__pycache__/apps.cpython-312.pyc
blog/__pycache__/models.cpython-310.pyc
blog/__pycache__/models.cpython-311.pyc
blog/__pycache__/models.cpython-312.pyc
blog/__pycache__/urls.cpython-310.pyc
blog/__pycache__/urls.cpython-311.pyc
blog/__pycache__/urls.cpython-312.pyc
blog/__pycache__/views.cpython-310.pyc
blog/__pycache__/views.cpython-311.pyc
blog/__pycache__/views.cpython-312.pyc
blog/migrations/0001_initial.py
blog/migrations/0002_blog_author.py
blog/migrations/0003_blog_image.py

blog/migrations/__pycache__/0001_initial.cpython-310.pyc
blog/migrations/__pycache__/0001_initial.cpython-311.pyc
blog/migrations/__pycache__/0001_initial.cpython-312.pyc
blog/migrations/__pycache__/0002_blog_author.cpython-310.pyc
blog/migrations/__pycache__/0002_blog_author.cpython-311.pyc
blog/migrations/__pycache__/0002_blog_author.cpython-312.pyc
blog/migrations/__pycache__/0003_blog_image.cpython-310.pyc
blog/migrations/__pycache__/0003_blog_image.cpython-311.pyc
blog/migrations/__pycache__/0003_blog_image.cpython-312.pyc
blog/migrations/__pycache__/__init__.cpython-310.pyc
blog/migrations/__pycache__/__init__.cpython-311.pyc
blog/migrations/__pycache__/__init__.cpython-312.pyc

blog_app/__pycache__/__init__.cpython-310.pyc
blog_app/__pycache__/__init__.cpython-311.pyc
blog_app/__pycache__/__init__.cpython-312.pyc
blog_app/__pycache__/settings.cpython-310.pyc
blog_app/__pycache__/settings.cpython-311.pyc
blog_app/__pycache__/settings.cpython-312.pyc
blog_app/__pycache__/urls.cpython-310.pyc
blog_app/__pycache__/urls.cpython-311.pyc
blog_app/__pycache__/urls.cpython-312.pyc
blog_app/__pycache__/wsgi.cpython-310.pyc
blog_app/__pycache__/wsgi.cpython-311.pyc
blog_app/__pycache__/wsgi.cpython-312.pyc

home/__pycache__/__init__.cpython-310.pyc
home/__pycache__/__init__.cpython-311.pyc
home/__pycache__/__init__.cpython-312.pyc
home/__pycache__/admin.cpython-310.pyc
home/__pycache__/admin.cpython-311.pyc
home/__pycache__/admin.cpython-312.pyc
home/__pycache__/apps.cpython-310.pyc
home/__pycache__/apps.cpython-311.pyc
home/__pycache__/apps.cpython-312.pyc
home/__pycache__/models.cpython-310.pyc
home/__pycache__/models.cpython-311.pyc
home/__pycache__/models.cpython-312.pyc
home/__pycache__/urls.cpython-310.pyc
home/__pycache__/urls.cpython-311.pyc
home/__pycache__/urls.cpython-312.pyc
home/__pycache__/views.cpython-310.pyc
home/__pycache__/views.cpython-311.pyc
home/__pycache__/views.cpython-312.pyc

home/migrations/__pycache__/__init__.cpython-310.pyc
home/migrations/__pycache__/__init__.cpython-311.pyc
home/migrations/__pycache__/__init__.cpython-312.pyc

static/css/bootstrap-grid.css
static/css/bootstrap-grid.css.map
static/css/bootstrap-grid.min.css
static/css/bootstrap-grid.min.css.map
static/css/bootstrap-grid.rtl.css
static/css/bootstrap-grid.rtl.css.map
static/css/bootstrap-grid.rtl.min.css
static/css/bootstrap-grid.rtl.min.css.map
static/css/bootstrap-reboot.css
static/css/bootstrap-reboot.css.map
static/css/bootstrap-reboot.min.css
static/css/bootstrap-reboot.min.css.map
static/css/bootstrap-reboot.rtl.css
static/css/bootstrap-reboot.rtl.css.map
static/css/bootstrap-reboot.rtl.min.css
static/css/bootstrap-reboot.rtl.min.css.map
static/css/bootstrap-utilities.css
static/css/bootstrap-utilities.css.map
static/css/bootstrap-utilities.min.css
static/css/bootstrap-utilities.min.css.map
static/css/bootstrap-utilities.rtl.css
static/css/bootstrap-utilities.rtl.css.map
static/css/bootstrap-utilities.rtl.min.css
static/css/bootstrap-utilities.rtl.min.css.map
static/css/bootstrap.css
static/css/bootstrap.css.map
static/css/bootstrap.min.css
static/css/bootstrap.min.css.map
static/css/bootstrap.rtl.css
static/css/bootstrap.rtl.css.map
static/css/bootstrap.rtl.min.css
static/css/bootstrap.rtl.min.css.map

static/js/bootstrap.bundle.js
static/js/bootstrap.bundle.js.map
static/js/bootstrap.bundle.min.js
static/js/bootstrap.bundle.min.js.map
static/js/bootstrap.esm.js
static/js/bootstrap.esm.js.map
static/js/bootstrap.esm.min.js
static/js/bootstrap.esm.min.js.map
static/js/bootstrap.js
static/js/bootstrap.js.map
static/js/bootstrap.min.js
static/js/bootstrap.min.js.map
