body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    color: #ffffff !important;
}

.card {
    border: 1px solid #343a40;
    border-radius: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    color: #343a40;
}

.btn-info {
    background-color: #00ff99;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #010910 !important;
}

html, body {
    height: 100%;
}

main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}