{% extends 'layouts/base.html' %}
{% block main %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Delete Blog</h2>
                    <p class="text-center">Are you sure you want to delete the blog post "{{ blog.title }}"?</p>
                    <form action="{% url 'blog-delete' blog.id %}" method="post" class="text-center">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i> Confirm Delete
                        </button>
                        <a href="{% url 'blog-index' %}" class="btn btn-secondary">
                            <i class="fas fa-times"></i> Cancel
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}